@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body{
    background: linear-gradient(to top, rgb(165, 104, 0), rgb(0, 2, 124));
}

.logo{
    position: fixed;
    margin: -15PX 93%;
    width: 90px;
    height: 90px;
    z-index: 6;
}

.main-header{
    height: 10;
    padding-bottom: 120px;
}

.img{
    position: absolute;
    margin: -5% 65%;
}

.imagen-yo{
    border-radius: 10px;
    position: absolute;
    width: 450px;
    height: 350px;
}

.flujo{
    border-radius: 30px;
    position:absolute;
    margin: 0 20px;
    width: 450px 0;
    height: 350px;
    z-index: -1;
    transform: rotate(270deg);
}


nav{
    z-index: 5;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.bar-btn{
    margin: 0 10px;
    position:absolute;
    font-size: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.menu-tamañopc{
    width: 100%;
    height: 70px;
    background: rgba(0, 2, 105, 0.212);
    backdrop-filter: blur(5px);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.384);
    z-index: 5;
    display: inline-block;
    position: fixed;
    margin: -10px;
    text-align: left;
}

.menu a:active, .menu a:hover{
    color: tomato;
    transition: .5s;
}

.menu a{
    margin: 0px 3rem;
    list-style: none;
    text-decoration: none;
    font-family: helvetica;
    font-weight:bold;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.nav-menu{
    position:relative;
    height: 0vh;
    top: 35px;
    background-color: #645b63ad;
    backdrop-filter: blur(10px);
    transition: all .5s;
    justify-content: center;
}


.nav-menu li{
    display: none;
    line-height: 15vh;
    margin: 10px 0px;
    text-align: center;
}

.nav-menu li a{
    margin: 0 5%;
    font-family: monospace;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-menu li a:active, .nav-menu li a:hover{
    color: tomato;
    transition: .5s;
}

#check:checked ~ .nav-menu{
    height: 900px;
}

#check:checked ~ .nav-menu li{
    display: block;
}


#check{
    display: none;
}


.p1 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 600;
}


.p1{
    color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    font-family: "fredoka one";
    display: grid;
    font-size: 400%;
}

.p1 span{
    position:relative;
    font-weight: 600;
    cursor: default;
    transition: all 200ms ease-in-out;
}

.p1 span::before{
    content: var(--l);
    position: absolute;
    filter: blur(0px);
}

.p1 span::after{
    content: var(--l);
    position: absolute;
    top:10px;
    left: 0;
    filter: blur(10px);
    transform: rotateX(30deg);

}


.p1 span:hover{
    filter: contrast(300%);
}
.p1 span:nth-child(3){
    color: rgb(214, 0, 214);
}

.p1 span:nth-child(2){
    color: rgb(235, 153, 12);
}




.relative{
    width: 250px;
    height: 55px;
    color: rgb(255, 255, 255);
    border-bottom: #ffffff solid 1px;
    border-top: #ffffff solid 1px;
    font-size: 30px;
    line-height: 55px;
    top: 370px;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    overflow: hidden;
}




.lista-box{
    text-transform: uppercase;
    list-style:none;
    animation: cambiar 8s infinite;
    text-align: center;
    margin-left: -40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h2{
    border: rgba(0, 0, 0, 0.274) solid 3px;
    width: 200px;
    margin: 0px auto;
    margin-bottom: 30px;
    background: rgb(214, 0, 214);
    font-family: century gothic;
    color: white;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
}


@keyframes cambiar{
    0%{
        margin-top: 0;
    }
    25%{
        margin-top: -55px;
    }
    50%{
        margin-top: -115px;
    }
    75%{
        margin-top: -55px;
    }
    100%{
        margin-top: 0px;
    }
}

.seccion1{
    width:40%;
    margin: 80px 150px;
    background: #00000059;
    border-radius: 10px;
}

.caja{
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color: rgb(255, 255, 255);
    box-sizing:border-box;
    padding: 30px 30px;
    text-align: center;
}

.caja::first-letter{
    color: #4f51d4;
    font-size: 30px;
}

.seccion2{
    width: 45%;
    margin: 0 auto;
    margin-top: 120px;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fit, minmax(48rem, 1fr));
}

.proyectos{
    box-shadow: 10px 8px 5px 0px rgba(0, 0, 0, 0.445);
    position: relative;
    background-color:#00000011;
    border-radius: 5px;
    font-size: 45px;
}

.seccion2 h3{
    color: white;
    font-size: 28px;
    font-family: century gothic;
}

.proyectos h3{
    text-align: center;
}

.proyectos p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}



.imagenes{
    margin: -10px -25px;
    width: 100%;
}

.imagenes ul li{
    display: inline-block;
    margin: 0px 10px;
    width: 80px;
    height: 0px;
    text-align: center;
}

.imagenes ul li a{
    border-radius: 5px;
    display: block;
    padding: 0 10px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    line-height: 15px;
    font-size: 50px;
    box-shadow: 0 7px 5px 0px rgba(0,0,0, .2);
}


.imagenes ul li a p{
    color: rgb(255, 255, 255);
    font-size: 30%;
}

.imagenes ul:hover a{
    filter: blur(0px);
}

.imagenes ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0,0,0, .4);
    filter: none;
}

.imagenes ul li .css:hover{
    background: rgb(0, 0, 0);
    color: rgb(0, 89, 255);
}

.imagenes ul li .html:hover{
    color: rgb(207, 95, 3);
}


.imagenes ul li .python:hover{
    color: #f7fc00;
    background: #4f51d4
}



.habilidades{
    box-shadow: 10px 8px 5px 0px rgba(0, 0, 0, 0.329);
    text-align: center;
    border-radius: 5px;
    background: #00000011;
}

.habilidades p{
    color: black;
    font-weight: 600;
}

.habilidades h3{
    text-align:center;
}

.contacto{
    border-bottom: rgb(255, 255, 255) solid 2px;
    border-right: #ffffff solid 2px ;
    border-left: #ffffff solid 2px ;
    margin: 0 auto;
    width: 80%;
    background: url(IMAGENES/footer.png);
    background-color: purple;
    background-size: 700px;
    border-radius: 30px;
}

.title-contacto{
    border: none;
    width: 350px;
    margin: 70px auto;
    background: none;
    font-family: century gothic;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.container-iconos{
    border-right: rgb(255, 255, 255) solid 2px;
    width: 300px;
    display: flex;
    justify-content: left;
}

.container-iconos ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 30px;
    text-align: center;
}

.container-iconos ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: white;
    line-height: 50px;
    font-size: 20px;
    box-shadow: 0 3px 5px 0px rgba(0,0,0, .2);
}

.container-iconos ul:hover a{
    filter: blur(0.5px);
}

.container-iconos ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0,0,0, .4);
    filter: none;
}

.container-iconos ul li .facebook:hover{
    background: #3b5999;
}

.container-iconos ul li .instagram:hover{
    background: linear-gradient(to right, rgb(64,93,230),
     rgb(88,81,219),
     rgb(131,58,180), 
     rgb(193,53,132), 
     rgb(225,48,108), 
     rgb(253,29,29), 
     rgb(245,96,64), 
     rgb(247,119,55), 
     rgb(252,175,69), 
     rgb(255,220,128))
}

.container-iconos ul li .Correo:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.container-iconos ul li .whatsapp:hover{
    background: #25d366
}


.p2{
    padding-left: 10px ;
    border-left:rgb(255, 255, 255) solid 2px ;
    justify-content: center;
    position:relative;
    float: right;
    font-size: 40px;
    margin: -50px 30px;

}

.p2 span{
    position:relative;
    font-weight: bold;
    font-family: "Fredoka One";
    cursor: default;
    transition: all 200ms ease-in-out;
}

.p2 span::before{
    content: var(--l);
    position: absolute;
    filter: blur(0px);
}

.p2 span::after{
    content: var(--l);
    position: absolute;
    top:10px;
    left: 0;
    filter: blur(10px);
    transform: rotateX(30deg);

}

.p2 span:hover{
    filter: contrast(250%);
}
.p2 span:nth-child(1){
    color: rgb(214, 0, 214);
}

.p2 span:nth-child(2){
    color: rgb(235, 153, 12);
}




@media only screen and (max-width: 1100px) {
    [class*="menu-tamañopc"] {
      display: none;
    }
  }

  @media only screen and (min-width: 1100px) {
    [class*="bar-btn"] {
      display: none;
    }
  }


@media only screen and (max-width: 1100px) {
    [class="imagen-yo"] {
        background: linear-gradient(to right, coral, black);
        position:absolute;
        margin: 15vh -35vw;
        width: 150px;
        height:120px;
    }
}

@media only screen and (min-width: 1101px) {
    [class="imagen-yo"] {
        position:absolute;
        margin: 0vh -2vw;
        width: 400px;
        height:350px;
    }
}


@media only screen and (max-width: 700px) {
    [class*="flujo"] {
        filter:opacity(15%);
        position:fixed;
        transform: rotate(-120deg);
        margin: -35vh -10vw;
        float: right;
        width: 400px;
        height: 400px;
    }
}

@media only screen and (min-width: 701px) and (max-width: 1100px) {
    [class*="flujo"] {
        filter:opacity(20%);
        position:fixed;
        transform: rotate(-150deg);
        margin: -35vh 10vw;
        float: right;
        width: 400px;
        height: 400px;
    }
}

@media only screen and (max-width: 1100px) {
    [class*="logo"] {
        width: 65px;
        height: 65px;
        margin: 20px 88%;
        transform: translate(-50%, -50%);
    }
}


@media only screen and (max-width: 1800px) {
    [class*="fondo"] {
        left: 90px;
        position:absolute;
        width: 250px;
      height:300px;
      z-index: -1;
    }
}

@media only screen and (max-width: 1800px) {
    [class*="imagenes"] {
        position:relative;
        top: 80px;
        left: 0px;
    }
}


@media only screen and (max-width: 1200px) {
    [class*="header"] {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    [class*="seccion1"] {
        width: 100%;
        margin-top: 400px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1900px) {
    [class*="proyectos"] {
        padding: 0px 0px;
        width: 100%;
        align-items: center;
        font-size: 20px;
        margin: 0 0vw;
    }
  }

@media only screen and (max-width: 1500px) {
    [class*="seccion2"] {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 2fr));
        grid-auto-rows: 20rem;
        margin-left: 0px;
    }
}
    
@media only screen and (max-width: 1200px) {
    [class*="p2"] {
        display: grid;
        width: 100%;
        margin: 0px 0px;
        justify-content: center;
    }
}

@media only screen and (max-width: 1200px) {
    [class*="contacto"] {
        margin-top: 150px;
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    [class*="container-iconos"] {
        display: grid;
        gap: 1rem;
        justify-content: center;
        margin: 0 -30px;
        width: 100%;
        border-right: tomato solid 0px;
    }
}

@media only screen and (max-width: 1200px) {
    [class*="p2"] {
        border-left: tomato solid 0px;
    }
}

@media only screen and (max-width: 1500px) {
    [class*="habilidades"] {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    [class*="imagenes"] {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0rem, 3fr));
        grid-auto-rows: 0rem;
        gap: 1rem;
        margin: 50px -20px;
        width: 100%;
        font-size: 20px;
        text-align: center;
        align-items: center;
    }
}


@media only screen and (max-width: 1200px) {
    [class="imagenes"]
    [ ul]
    [li ] {
        width: 5px;
    }
}