@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body{
    background: linear-gradient(to top, rgb(139, 100, 31), rgb(0, 3, 156));
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo{
    position: fixed;
    margin: -15PX 93%;
    width: 90px;
    height: 90px;
    z-index: 6;
}

.main-header{
    height: 10;
    padding-bottom: 120px;
}

.imagen{
    position: absolute;
    margin: -5% 65%;
}

.imagen-yo{
    border-radius: 10px;
    position: absolute;
    width: 450px;
    height: 350px;
}

.flujo{
    border-radius: 30px;
    position:absolute;
    margin: 0 20px;
    width: 450px 0;
    height: 350px;
    z-index: -1;
    transform: rotate(270deg);
}


nav{
    z-index: 5;
    position: fixed;
    width: 97%;
    justify-content: space-between;
    align-items: center;
}


.bar-btn{
    margin: 0 10px;
    position:absolute;
    font-size: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.menu-tamañopc{
    width: 100%;
    height: 70px;
    background: rgba(0, 2, 105, 0.212);
    backdrop-filter: blur(5px);
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.384);
    z-index: 5;
    display: inline-block;
    position: fixed;
    margin: -10px;
    text-align: left;
}

.menu a:active, .menu a:hover{
    color: rgb(255, 206, 71);
    transition: .5s;
}

.menu a{
    margin: 0px 3rem;
    list-style: none;
    text-decoration: none;
    font-family: helvetica;
    font-weight:bold;
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.nav-menu{
    position:relative;
    height: 0vh;
    top: 35px;
    background-color: #550f4dd2;
    backdrop-filter: blur(10px);
    transition: all .5s;
    justify-content: center;
}


.nav-menu li{
    display: none;
    line-height: 15vh;
    margin: 10px 0px;
    text-align: center;
}

.nav-menu li a{
    margin: 0 3%;
    font-family: monospace;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-menu li a:active, .nav-menu li a:hover{
    color: rgb(255, 206, 71);
    transition: .5s;
}

#check:checked ~ .nav-menu{
    height: 900px;
}

#check:checked ~ .nav-menu li{
    display: block;
}


#check{
    display: none;
}


.p1 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 600;
}


.p1{
    color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    font-family: "fredoka one";
    display: grid;
    font-size: 400%;
}

.p1 span{
    position:relative;
    font-weight: 600;
    cursor: default;
    transition: all 200ms ease-in-out;
}

.p1 span::before{
    content: var(--l);
    position: absolute;
    filter: blur(0px);
}

.p1 span::after{
    content: var(--l);
    position: absolute;
    top:10px;
    left: 0;
    filter: blur(10px);
    transform: rotateX(30deg);

}


.p1 span:hover{
    filter: contrast(300%);
}
.p1 span:nth-child(3){
    color: rgb(214, 0, 214);
}

.p1 span:nth-child(2){
    color: rgb(235, 153, 12);
}




.relative{
    width: 250px;
    height: 55px;
    color: rgb(255, 255, 255);
    border-bottom: #ffffff solid 1px;
    border-top: #ffffff solid 1px;
    font-size: 30px;
    line-height: 55px;
    top: 370px;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    overflow: hidden;
}




.lista-box{
    text-transform: uppercase;
    list-style:none;
    animation: cambiar 8s infinite;
    text-align: center;
    margin-left: -40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h2{
    border: rgba(0, 0, 0, 0.274) solid 3px;
    width: 200px;
    margin: 0px auto;
    margin-bottom: 30px;
    background: rgb(214, 0, 214);
    font-family: century gothic;
    color: white;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
}


@keyframes cambiar{
    0%{
        margin-top: 0;
    }
    25%{
        margin-top: -55px;
    }
    50%{
        margin-top: -115px;
    }
    75%{
        margin-top: -55px;
    }
    100%{
        margin-top: 0px;
    }
}

.seccion1{
    width:40%;
    margin: 80px 150px;
    background: #00000059;
    border-radius: 10px;
}

.caja{
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    color: rgb(255, 255, 255);
    box-sizing:border-box;
    padding: 30px 30px;
    text-align: center;
}

.caja::first-letter{
    color: #4f51d4;
    font-size: 30px;
}

#habilidades-proyectos{
    margin-top: 100px;
    height: 900px;
    background: url(IMAGENES/partitura3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#ffffff0c;
    border-radius: 30px;
}

.seccion2{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    gap: 1rem;
    grid-template-rows: 15rem;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
}

.seccion2 h3{
    text-align: center;
    color: white;
    font-size: 28px;
    font-family: century gothic;
}


.proyectos{
    backdrop-filter: blur(5px);
    position: relative;
    box-shadow: 10px 8px 5px 0px rgba(0, 0, 0, 0.445);
    border: #ffffff27 solid 2px;
    background-color:#00000011;
    border-radius: 5px;
    font-size: 30px;
}

.imagenes{
    align-items: center;
    width: 100%;
    justify-content: center;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 10rem;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr))
}

.player {
    margin-top: 100px;
    position: relative;
}

.player .info {
    position: absolute;
    height: 60px;
    top: 0;
    opacity: 0;
    left: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 15px 5px 110px;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.player .info .artist,
.player .info .name {
    display: block;
}

.player .info .artist {
    color: #222;
    font-size: 16px;
    margin-bottom: 5px;
}

.player .info .name {
    color: #999;
    font-size: 12px;
    margin-bottom: 8px;
}

.player .info .progress-bar {
    background-color: #ddd;
    height: 2px;
    width: 100%;
    position: relative;
}

.player .info .progress-bar .bar {
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #1eabff;
    width: 10%;
    transition: all 0.2s ease;
}

.player .info.active {
    top: -60px;
    opacity: 1;
    transition: all 0.5s ease;
}

.player .control-panel {
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    width: 300px;
    height: 80px;
    z-index: 5;
    box-shadow: 0 20px 20px 5px rgba(183, 212, 245, 0.3);
}

.player .control-panel .album-art {
    position: absolute;
    left: 20px;
    top: -15px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0);
    transform: scale(1);
    transition: all 0.5s ease;
}

.imagen-musica {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.player .control-panel .album-art::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
}

.player .control-panel.active .album-art {
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0).2;
    transform: scale(1.2);
    transition: all o.5s ease;
}

.player .control-panel .controls {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    padding: 0 15px
}

.player .control-panel .controls .prev,
.player .control-panel .controls .play,
.player .control-panel .controls .next {
    width: 55px;
    height: auto;
    border-radius: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px;
    margin: 5px 0;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

.player .control-panel .controls .prev:hover,
.player .control-panel .controls .play:hover,
.player .control-panel .controls .next:hover {
    background-color: #eee;
    transition: background-color 0.3s ease;
}

.player .control-panel .controls .prev {
    background-image: url(IMAGENES/img/back.svg);
}

.player .control-panel .controls .play {
    background-image: url(IMAGENES/img/play.svg);
}

.player .control-panel .controls .next {
    background-image: url(IMAGENES/img/next.svg);
}

.player .control-panel.active .controls .play {
    background-image: url(IMAGENES/img/stop.svg);
}


.proyectos p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.imagen1{
    margin: 0 auto;
    width:250px;
    height: 150px;
}

.imagen2{
    margin: 0 auto;
    width:300px;
}

.imagen3{
    margin: 0 auto;
    width: 300px;
}


.proyectos-musica{
    grid-column: 1/3;
    backdrop-filter: blur(5px);
    box-shadow: 10px 8px 5px 0px rgba(0, 0, 0, 0.445);
    border: #ffffff27 solid 2px;
    background-color:#00000011;
    border-radius: 5px;
    font-size: 45px;
}

.proyectos-musica p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}



.tecnologias{
    margin: -10px -25px;
    width: 100%;
}

.tecnologias ul li{
    display: inline-block;
    margin: 0px 10px;
    width: 80px;
    height: 0px;
    text-align: center;
}

.tecnologias ul li a{
    border-radius: 5px;
    display: block;
    padding: 0 10px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    line-height: 15px;
    font-size: 50px;
    box-shadow: 0 7px 5px 0px rgba(0,0,0, .2);
}


.tecnologias ul li a p{
    color: rgb(255, 255, 255);
    font-size: 30%;
}

.tecnologias ul:hover a{
    filter: blur(0px);
}

.tecnologias ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0,0,0, .4);
    filter: none;
}

.tecnologias ul li .css:hover{
    background: rgb(0, 0, 0);
    color: rgb(0, 89, 255);
}

.tecnologias ul li .html:hover{
    color: rgb(207, 95, 3);
}


.tecnologias ul li .python:hover{
    color: #ffe873;
    background: #306998
}



.habilidades{
    backdrop-filter: blur(5px);
    box-shadow: 10px 8px 5px 0px rgba(0, 0, 0, 0.329);
    border: #ffffff27 solid 2px;
    text-align: center;
    border-radius: 5px;
    background: #27272711;
    font-weight: 600;
}


.contacto{
    border-bottom: rgb(255, 255, 255) solid 2px;
    border-right: #ffffff solid 2px ;
    border-left: #ffffff solid 2px ;
    margin: 0 auto;
    margin-top: 20vh;
    width: 80%;
    background: url(IMAGENES/footer.png);
    background-color: purple;
    background-size: 700px;
    border-radius: 30px;
}

.title-contacto{
    border: none;
    width: 350px;
    background: none;
    font-family: century gothic;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.container-iconos{
    border-right: rgb(255, 255, 255) solid 2px;
    width: 300px;
    display: flex;
    justify-content: left;
}

.container-iconos ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 30px;
    text-align: center;
}

.container-iconos ul li a{
    display: block;
    padding: 0 10px;
    background: #333;
    color: white;
    line-height: 50px;
    font-size: 20px;
    box-shadow: 0 3px 5px 0px rgba(0,0,0, .2);
}

.container-iconos ul:hover a{
    filter: blur(0.5px);
}

.container-iconos ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0,0,0, .4);
    filter: none;
}

.container-iconos ul li .facebook:hover{
    background: #3b5999;
}

.container-iconos ul li .instagram:hover{
    background: linear-gradient(to right, rgb(64,93,230),
     rgb(88,81,219),
     rgb(131,58,180), 
     rgb(193,53,132), 
     rgb(225,48,108), 
     rgb(253,29,29), 
     rgb(245,96,64), 
     rgb(247,119,55), 
     rgb(252,175,69), 
     rgb(255,220,128))
}

.container-iconos ul li .Correo:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.container-iconos ul li .whatsapp:hover{
    background: #25d366
}


.p2{
    padding-left: 10px ;
    border-left:rgb(255, 255, 255) solid 2px ;
    justify-content: center;
    position:relative;
    float: right;
    font-size: 40px;
    margin: -50px 30px;

}

.p2 span{
    position:relative;
    font-weight: bold;
    font-family: "Fredoka One";
    cursor: default;
    transition: all 200ms ease-in-out;
}

.p2 span::before{
    content: var(--l);
    position: absolute;
    filter: blur(0px);
}

.p2 span::after{
    content: var(--l);
    position: absolute;
    top:10px;
    left: 0;
    filter: blur(10px);
    transform: rotateX(30deg);

}

.p2 span:hover{
    filter: contrast(250%);
}
.p2 span:nth-child(1){
    color: rgb(214, 0, 214);
}

.p2 span:nth-child(2){
    color: rgb(235, 153, 12);
}




@media only screen and (max-width: 1100px) {
    [class*="menu-tamañopc"] {
      display: none;
    }
  }

  @media only screen and (min-width: 1100px) {
    [class*="bar-btn"] {
      display: none;
    }
  }


@media only screen and (max-width: 1100px) {
    [class="imagen-yo"] {
        background: linear-gradient(to right, coral, black);
        position:absolute;
        margin: 15vh -35vw;
        width: 150px;
        height:120px;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1400px){
    [class="imagen-yo"] {
        position:absolute;
        margin: 0vh -2vw;
        width: 400px;
        height:350px;
    }
}


@media only screen and (max-width: 700px) {
    [class*="flujo"] {
        filter:opacity(15%);
        position:fixed;
        transform: rotate(-120deg);
        margin: -35vh -10vw;
        float: right;
        width: 400px;
        height: 400px;
    }
}

@media only screen and (min-width: 701px) and (max-width: 1100px) {
    [class*="flujo"] {
        filter:opacity(20%);
        position:fixed;
        transform: rotate(-150deg);
        margin: -35vh 10vw;
        float: right;
        width: 400px;
        height: 400px;
    }
}

@media only screen and (max-width: 1100px) {
    [class*="logo"] {
        width: 65px;
        height: 65px;
        margin: 20px 88%;
        transform: translate(-50%, -50%);
    }
}


@media only screen and (max-width: 1800px) {
    [class*="fondo"] {
        left: 90px;
        position:absolute;
        width: 250px;
      height:300px;
      z-index: -1;
    }
}

@media only screen and (max-width: 1800px) {
    [class*="imagen1"] {
        width: 200px;
    }
}

@media only screen and (max-width: 1800px) {
    [class*="imagen2"] {
        width: 200px;
    }
}

@media only screen and (max-width: 1800px) {
    [class*="imagen3"] {
        width: 200px;
    }
}

@media only screen and (max-width: 1200px) {
    [class*="header"] {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    [class*="seccion1"] {
        width: 100%;
        margin-top: 400px;
        margin-left: 0px;
    }
}


@media only screen and (max-width: 1500px) {
    [class*="seccion2"] {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-auto-rows: 20rem;
        margin-left: 0px;
        margin-top: 0px;
    }
}

@media only screen and (max-width: 735px){
    [class="proyectos-musica"] {
        grid-column: 1;
    }
}
    
@media only screen and (max-width: 1200px) {
    [class*="p2"] {
        display: grid;
        width: 100%;
        margin: 0px 0px;
        justify-content: center;
        border-left: tomato solid 0px;
    }
}

@media only screen and (max-width: 1200px) {
    [class*="contacto"] {
        margin-top: 10vh;
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    [class*="container-iconos"] {
        display: grid;
        gap: 1rem;
        justify-content: center;
        margin: 0 -30px;
        width: 100%;
        border-right: tomato solid 0px;
    }
}